extends layout
 
block content
    h1 Controls
    
    .onoffswitch
        input(type='checkbox', name='onoffswitch', class='onoffswitch-checkbox', id='hlt', checked=true) 
        label.onoffswitch-label(for='hlt')
            span.onoffswitch-inner
            span.onoffswitch-switch
            
    #temperature Hello again


        