extends layout

// fyi - 12 columns in the content 
block content
    .row.row-xs-height
        .col-lg-6.col-xs-height.col-bottom
            h2 Hot Liquor Tank
        .col-lg-6.col-xs-height.col-bottom
            .form-inline.pull-right(role='form')
                .form-group
                    .input-group
                        input.set-point-input.form-control(type='text', id='hlt-set-point', placeholder='Set Point (°F)')
                        .input-group-addon
                            .toggle.btn.off.btn-primary(data-toggle='toggle')
                                input(type='checkbox',checked=false)
                                .toggle-group
                                    label.toggle-on.btn.btn-primary On
                                    label.toggle-off.btn.btn.btn-default.active Off
                                    span.toggle-handle.btn.btn-default
    .row
        .col-xs-12
            hr
    .row
        .col-lg-4
            .panel.panel-default
                .panel-heading
                    i.fa.fa-dashboard.fa-fw
                    span Current Temperature
                .panel-body
                    #hlt_gauge_div.center-block(style='width:200px; height:200px')
        .col-lg-8
            .panel.panel-default
                .panel-heading
                    i.fa.fa-bar-chart.fa-fw
                    span Temperature History
                .panel-body
                    #hlt_line_div
    .row.row-xs-height
        .col-lg-6.col-xs-height.col-bottom
            h2 Mash Tun
        .col-lg-6.col-xs-height.col-bottom
            .form-inline.pull-right(role='form')
                .form-group
                    .input-group
                        input.set-point-input.form-control(type='text', id='mt-set-point', placeholder='Set Point (°F)')
                        .input-group-addon
                            .toggle.btn.off.btn-primary(data-toggle='toggle')
                                input(type='checkbox',checked=false)
                                .toggle-group
                                    label.toggle-on.btn.btn-primary On
                                    label.toggle-off.btn.btn.btn-default.active Off
                                    span.toggle-handle.btn.btn-default
    .row
        .col-xs-12
            hr
    .row
        .col-lg-4
            .panel.panel-default
                .panel-heading
                    i.fa.fa-dashboard.fa-fw
                    span Current Temperature
                .panel-body
                    #mt_gauge_div.center-block(style='width:200px; height:200px')
        .col-lg-8
            .panel.panel-default
                .panel-heading
                    i.fa.fa-bar-chart.fa-fw
                    span Temperature History
                .panel-body
                    #mt_line_div
    .row.row-xs-height
        .col-lg-12.col-xs-height.col-bottom
            h2 Boil Kettle
    .row
        .col-xs-12
            hr
    .row
        .col-lg-4
            .panel.panel-default
                .panel-heading
                    i.fa.fa-dashboard.fa-fw
                    span Current Temperature
                .panel-body
                    #bk_gauge_div.center-block(style='width:200px; height:200px')
        .col-lg-8
            .panel.panel-default
                .panel-heading
                    i.fa.fa-bar-chart.fa-fw
                    span Temperature History
                .panel-body
                    #bk_line_div
